<div class="modal fade" id="new-reminder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Reminder</h4>
      </div>

      <div class="modal-body">
        <%= form_tag calls_path, method: :post, id: 'form-add-reminder' do %>
          <div id='alert-add-reminder' class='alert alert-warning' style='display:none'> </div>

          <div class='form-group'>
            <%= hidden_field_tag 'client[kind]', Client::KIND_MANUAL %>
          </div>

          <div class='form-group'>
            <%= label_tag :phone_number, 'Phone number', class: 'required' %>
            <span class='error'>*</span>
            <%= text_field_tag 'client[phone_number]', '', class: 'form-control required' %>
          </div>
          <div class='form-group'>
            <%= label_tag :family_code, 'Family code', class: 'required' %>
            <span class='error'>*</span>
            <%= text_field_tag 'client[family_code]', '', class: 'form-control required' %>
          </div>
          <div class='form-group'>
            <%= label_tag :full_name %>
            <%= text_field_tag 'client[full_name]', '', class: 'form-control required' %>
          </div>
          <div class='form-group'>
            <%= label_tag :expiration_date, 'Expiration date', class: 'required' %>
            <span class='error'>*</span>
            <%= text_field_tag 'client[expiration_date]', '', class: 'form-control date-picker required' %>
          </div>

          <div class='form-group'>
            <button id='btn-add-reminder' class='btn btn-primary'>Send call now</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
