<div class="modal fade" id='<%= "retries-call-#{call.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Recall: <%= call.phone_number %></h4>
      </div>

      <div class="modal-body">
        <table class='table table-strip'>
          <thead>
            <tr>
              <td>#</td>
              <td>Status</td>
              <td>Called at</td>
              <td>Type</td>
            </tr>
          </thead>
          <tbody>
            <% call.recalls.each_with_index do |retry_call, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= retry_call.status %></td>
                <td><%= in_local_time_zone(retry_call.created_at) %></td>
                <td><%= retry_call.kind_text %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
