<%= page_title "Call list" %>

<div class='panel panel-default'>
  <div class='panel-heading'> 
    <h3 class='panel-title'>Filter</h3>
  </div>

  <div class="panel-body" style='padding: 10px 0px;'>
    <%= form_tag '/search', method: 'GET' do |f| %>
      
      <div class='input-row col-lg-2'>
        <%= label_tag :family_code %>
        <%= text_field_tag :family_code, params[:family_code], class: 'form-control' %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :status, 'Call Status' %>
        <%= select_tag :status, options_for_select(Call::STATUSES.map{|status| [status, status] }, params[:status]),
                       class: 'form-control', include_blank: true %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :expiration_date_start %>
        <%= text_field_tag :expiration_date_start, params[:expiration_date_start], class: 'form-control date-picker' %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :expiration_date_end %>
        <%= text_field_tag :expiration_date_end, params[:expiration_date_end], class: 'form-control date-picker' %>
      </div>

      <div class='input-row col-lg-2'>
        <button class='btn btn-primary' style='margin-top: 25px;'>
          <i class='glyphicon glyphicon-search'> </i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class='clearfix' style="padding-bottom: 10px;">
  <div class='pull-left'>
    <%= paginate @calls, theme: 'twitter-bootstrap-3' %>
  </div>
  <div class='pull-right' style='margin-top: 15px;'>
    <%= link_to download_csv_calls_path(app_params), class: 'btn btn- btn-primary' do %>
      <i class='glyphicon glyphicon-download-alt'> </i> Download CSV
    <% end %>
    <button class='btn btn-primary' data-toggle="modal" data-target="#new-reminder">
      <i class='glyphicon glyphicon-plus'> </i> Add Reminder
    </button>
  </div>
</div>

<%= render 'new' %>

<table class='table table-strip table-hover'>
  <thead>
    <tr>
      <td>Family code</td>
      <td>Full name</td>
      <td>Call status</td>
      <td>Recalls</td>
      <td>Expiration date</td>
      <td>Phone number</td>
      <td width="120">Reminder date</td>
      <td>Type</td>
      <td>Called at</td>
      <td> Action </td>
    </tr>
  </thead>

  <tbody>
    <% @calls.each_with_index do |call, index| %>
      <tr>
        <td><%= call.family_code %></td>
        <td><%= call.full_name %></td>
        <td><%= call.status %></td>
        <td>
          <% if call.calls_count > 0 %>
            <%= render 'retries', call: call %>
            <%= link_to call.calls_count, "#retries-call-#{call.id}", 'data-toggle': "modal", class: 'badge' %>
          <% else %>
          <% end %>
        </td>
        <td><%= call.expiration_date %></td>
        <td><%= call.phone_number %></td>
        <td><%= call.created_at.to_date %></td>
        <td><%= call.kind_text %></td>
        <td><%= timeago_tag(call.updated_at)%></td>
        <td>
          <% if call.retryable? %>
            <%= link_to 'Recall', retry_call_path(call), method: 'PUT', class: 'btn btn-sm btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @calls, theme: 'twitter-bootstrap-3' %>