<%= page_title "Call list" %>
<%= paginate @calls %>

<table class='table table-strip' >
  <thead>
    <tr>
      <td>Family code</td>
      <td>Family name</td>
      <td>Call status</td>
      <td>Retries</td>
      <td>Expiration date</td>
      <td>Phone number</td>
      <td>Reminder date</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @calls.each_with_index do |call, index| %>
      <tr>
        <td><%= call.client.family_code %></td>
        <td><%= call.client.family_name %></td>
        <td>
          <%= call.status %>
          <% if call.retryable? %>
            <%= link_to 'Retry', retry_call_path(call), method: 'PUT', class: 'btn btn-sm btn-primary' %>
          <% end %>
        </td>
        <td><%= call.calls_count %></td>
        <td><%= call.expiration_date %></td>
        <td><%= call.phone_number %></td>
        <td><%= call.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @calls %>