<%= simple_form_for(@user, html: { class: 'form form-inline'}) do |f| %>
  <% if @user.errors.any?%>
    <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='input-row w600'>
    <% if @user.new_record? %>
      <%= f.input :username, input_html: { class: 'form-control' } %>
    <% else %>
      <%= f.input :username, input_html: { class: 'form-control', readonly: true } %>
    <% end %>
  </div>

  <% if @user.new_record? %>
    <div class='input-row'>
      <%= f.input :password, placeholder: 'Password'%>
    </div>
    <div class='input-row'>
      <%= f.input :password_confirmation, placeholder: 'Password confirmation' %>
    </div>
  <% end %>

  <div class='input-row'>
    <%= f.input :role, collection: current_user.get_roles %>
  </div>
  
  <div class='input-row'>
    <%= f.input :name, label: 'Full Name' %>
  </div>
  
  <% if current_user.admin? %>
    <%= label_tag :ods, raw("<h4>Organization</h4>") %>
  <% else %>
    <%= label_tag :ods, raw("<h4>Operational District</h4>") %>
  <% end %>
  

  <% if current_user.admin? %>
    <% current_user.get_organizations.each do |org|%>
      <div class="funkyradio">
          <div class="funkyradio-default">
              <input type="radio" name="user[organizations][]" id="org-<%= org.id %>" value="<%= org.id %>" <%= @user.organizations.include?(org.id.to_s)? "checked" : ""  %> />
              <label for="org-<%= org.id %>"><%= org.name %></label>
          </div>
      </div>
    <% end %>
  <% else %>
    <% current_user.get_ods.each do |od|%>
      <div class="funkyradio">
          <div class="funkyradio-default">
              <input type="checkbox" name="user[ods][]" id="od-<%= od.id %>" value="<%= od.id %>" <%= @user.ods.include?(od.id.to_s)? "checked" : ""  %> />
              <label style="width:300px;" for="od-<%= od.id %>"><%= od.name %></label>
          </div>
      </div>
    <% end %>
  <% end %>
  
  <br />
  
  <% unless @user.new_record? %>
    <% unless @user.is?(current_user) %>
      <%= link_to 'Reset password', reset_password_user_path(@user), data: { confirm: "Are you sure you want to reset #{@user.username} password?"}, class: 'btn btn-danger' %>
    <% end %>
  <% end %>

  <%= f.button :submit, class: 'btn btn-primary' %>
  
<% end %>
