<%= form_tag(update_settings_path, method: :put, class: 'form') do %>

  <div class="form-group clearfix">
    <%= label_tag 'day_before_expiration_date', 'Call', class: 'col-sm-2' %>
    <%= text_field_tag 'day_before_expiration_date', @settings[:day_before_expiration_date], class: 'w65 form-control col-sm-2 numeric', size: 2, maxlength: 2 %>
    <span class='col-sm-4'>days before expiration date</span>
  </div>

  <div class="form-group clearfix">
    <%= label_tag :recalls, 'After', class: 'col-sm-2' %>
    <%= text_field_tag :recalls, @settings[:recalls], class: 'w65 form-control col-sm-2 numeric', size: 2, maxlength: 2 %>
    <span class='col-sm-4'>unsuccessful calls mark as status as failed</span>
  </div>

  <div class="form-group clearfix">
    <label> </label>
    <%= submit_tag 'Save', class: "btn btn-primary" %>
  </div>

<% end %>