<h3>Settings</h3>

<ul class="nav nav-tabs">
  <li class="<%= tab_active_for(:default) %>">
     <%= link_to 'Parameters', settings_path %>
  </li>

  <li class="<%= tab_active_for(:verboice) %>">
     <%= link_to 'Verboice', settings_path(tab: :verboice ) %>
  </li>
</ul>

<div style='padding: 15px 0px;'>
  
  <% if tab_active_for(:default) == 'active' %>
    <%= render 'settings' %>
  <% else %>
    <div>
      <% if Setting[:verboice_token].blank? %>
        <%= render 'connection' %>
      <% else %>
        <a href='#' class='collasable-link'>
          <i class='glyphicon glyphicon-cog'> </i> Verboice Connection
        </a>
        <div class='collasable-container' style='display:none;'>
          <%= render 'connection' %>
          <hr />
        </div>

        <div style='margin-top: 30px;'>
          <p> <%= render 'verboice' %> </p>
        </div>
      <% end %>

    </div>
  <% end %>
</div>