<%= simple_form_for(@organization, html: {class: 'form form-inline'}) do |f| %>

  <% if @organization.errors.any?%>
    <div class="alert alert-danger">
      <h4><%= pluralize(@organization.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class='row input-row'>
      <%= f.input :name %>
    </div>
  </div>

  <%= label_tag :ods, raw("<h4>Operational District</h4>") %>
  <% current_user.get_ods.each do |od|%>
    <div class="funkyradio">
        <div class="funkyradio-default">
            <input type="checkbox" name="organization[ods][]" id="od-<%= od.id %>" value="<%= od.id %>" <%= @organization.ods.include?(od.id.to_s)? "checked" : ""  %> />
            <label style="width:500px !important;" for="od-<%= od.id %>"><%= od.name %></label>
        </div>
    </div>
  <% end %>

  <div class="form-actions">
    <label> </label>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
